.date-time-container {
  position: relative;
  display: inline-flex;
  /* font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif; */
}

.date-time-container .text-input {
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  text-align: center;
  outline: none;
  border: 1px solid #e3e7e8;
  box-shadow: 2px 2px 4px #f5f5f5 inset, -2px -2px 4px #f5f5f5 inset;
  box-sizing: border-box;
}

.date-time-container .text-input.time {
  width: 80px;
}

.date-time-container .text-input:focus {
  border-color: #3498db;
  box-shadow: 2px 2px 4px #f5f5f5 inset, -2px -2px 4px #f5f5f5 inset;
  border: 1px solid #3498db;
  background-color: #fff;
  color: #333;
}

.date-time-container .date-picker-container, .time-picker-container {
  position: absolute;
  width: 350px;
  background: #fff;
  padding: 32px 32px 24px;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.time-picker-container {
  width: 250px;
  padding: 0;
  flex-flow: row wrap;
  overflow-y: scroll;
  height: 180px;
}

.date-time-container .month-year-container,
.date-time-container .quick-selections-container, .quick-selections-container-mobile {
  position: relative;
  line-height: 16px;
  height: 32px;
  padding: 0;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.month-year-container .label {
  outline: initial;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: text;
}

.date-time-container .month-year-container {
  text-transform: uppercase;
  border-bottom: 1px solid #e3e7e8;
}

.date-time-container .month-year-container .label {
  color: #333;
  font-weight: bold;
  line-height: 20px;
}

.date-time-container .month-year-container .prev,
.date-time-container .month-year-container .next {
  position: absolute;
  width: 38px;
  height: 24px;
  top: -2px;
  font-size: 24px;
  color: #a2a2a2;
  line-height: 20px;
  font-family: Arial;
  cursor: pointer;

}

.date-time-container .month-year-container .prev {
  left: 0;
}

.date-time-container .month-year-container .prev:before {
  content: "\2039";
}

.date-time-container .month-year-container .next {
  right: 0;
}

.date-time-container .month-year-container .next:before {
  content: "\203A";
}

.date-time-container .quick-selections-container .today,
.date-time-container .quick-selections-container .none {
  position: absolute;
  top: 10px;
  color: #3498db;
  font-size: 13px;
  cursor: pointer;
}

.date-time-container .quick-selections-container-mobile .today,
.date-time-container .quick-selections-container-mobile .none {
  position: absolute;
  top: 10px;
  color: #206694;
  font-size: 13px;
  cursor: pointer;
}

.date-time-container .quick-selections-container .today,
.date-time-container .quick-selections-container-mobile .today {
  left: 0;
}

.date-time-container .quick-selections-container .none,
.date-time-container .quick-selections-container-mobile .none {
  right: 0;
}

.date-time-container .quick-selections-container-mobile .none,
.date-time-container .quick-selections-container-mobile .today {
  font-weight: bold
}

.date-time-container .days-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.date-time-container .days-container .day,
.date-time-container .days-container .wday-header {
  text-transform: uppercase;
  font-weight: normal;
  box-sizing: border-box;
  padding: 8px 0;
  flex-basis: 38px;
  border: 1px solid #fff;
  color: #333;
  font-size: 10px;
  line-height: 15px;
}

.date-time-container .days-container .day {
  cursor: pointer;
}
.date-time-container .days-container .day.today {
  color: #fff;
  background: #9b9b9b;
}

.date-time-container .days-container .day.selected {
  border: 1px solid #3498db;
}

.date-time-container .days-container .grayed-out {
  color: #babcbc;
}

.label-error {
  background-color: #E54D41;
  color: #FFFFFF;
  margin: 8px 0;
  padding: 0 15px;
  font-size: 14px;
  z-index: 1;
  position: absolute;
}

.date-container {
  display: inline-block
}

.time-container {
  display: inline-block
}

.kuc-time-list-item {
  width: 100%;
  text-align: left;
  padding: 8px 16px 8px 25px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
  display: block;
  line-height: 14px;
  -webkit-user-select: none;
}

.kuc-time-list-item:hover {
  background-color: #E2F2FE
}

span.day {
  outline: none;
}

.calendar-button-control {
  background-color: transparent;
  border: none;
  outline: none;
}

.date-container-mobile {
  padding-right: 10px;
}

.date-container-mobile input {
  font: 90% "メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.date-container-mobile input[type="text"] {
  text-align: left;
  width: 130px;
  border-radius: .4em;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE5LDRIMThWMkgxNlY0SDhWMkg2VjRINUMzLjg5LDQgMyw0LjkgMyw2VjIwQTIsMiAwIDAsMCA1LDIySDE5QTIsMiAwIDAsMCAyMSwyMFY2QTIsMiAwIDAsMCAxOSw0TTE5LDIwSDVWMTBIMTlWMjBNMTksOEg1VjZIMTlWOFoiIC8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
  padding: .4em;
  border: 1px solid #b3b3b3;
  outline: 0;
  box-shadow: 0 1px 0 #fff, inset 0 2px 3px #dadada;
  border-radius: .4em;
  box-sizing: border-box;
  height: 40px;
}

.date-container-mobile .month-year-container .prev-month-mobile svg{
  position: absolute;
    left: 4px;
    width: 24px;
    height: 24px;
    fill: #206694;
}

.date-container-mobile .month-year-container .next-month-mobile svg{
    position: absolute;
    right: 4px;
    width: 24px;
    height: 24px;
    fill: #206694;
}

.time-containe-mobile {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: .4em;
  box-sizing: border-box;
  box-shadow: 0 1px 0 #fff, inset 0 2px 3px #dadada;
}

.time-containe-mobile select {
  padding: 1em .6em;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
}

.date-time-container .date-picker-container-mobile {
  position: absolute;
  width: 290px;
  background: #fff;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  z-index: 2000;
  text-align: center;
  border: 1px solid #d8d8d8;
  font: 13px/1.231 "メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.date-picker-container-mobile .days-container .day{
  width: 40px;
  height: 40px;
}
.date-picker-container-mobile .days-container .day.selected {
  border: 1px solid #206694;
}